# Pack files
pack/*.epk
pack/*.eix

# Log files
log.txt
syserr.txt
debug_packet.log

# Generated build files
*.exe
*.bsc
*.pdb

# Generated config files
channel.inf
metin2.cfg

# Screenshots
screenshot/*