# Generated build files
/db/db_d.*
/channel1/game1/game_d.*

# Generated log files
/**/log/
/**/packet_info.txt
/**/p2p_packet_info.txt
/**/ProfileLog
/**/PTS.txt
/**/syserr.txt
/**/syslog.txt
/**/syserr
/**/syslog