# Generated build files
/db/db_d.*
/auth/game_d.*
/auth/data*
/auth/locale*
/channel1/game1/public*
/channel1/game1/game_d.*
/channel1/game1/locale*
/channel1/game1/data*
/channel1/game2/locale*
/channel1/game2/data*
/channel1/game2/locale*
/channel99/game_d.*
/channel99/data*
/channel99/locale*
/db/data*
/db/locale*

# Generated log files
/**/log/
/**/packet_info.txt
/**/p2p_packet_info.txt
/**/ProfileLog
/**/PTS.txt
/**/syserr.txt
/**/syslog.txt
/**/syserr
/**/syslog
/**/usage.txt

/share/locale/english/quest/__pycache__
/share/locale/english/quest/qc.*
